
   article, aside, details, figcaption, figure, footer,header,
   hgroup, menu, nav, section { display: block; }

$font-stack:    Helvetica, sans-serif;

   #main{
   	position:relative;
   	width:300px;
   	margin:0 auto;
   	min-height: 300px;
   	padding-top:23pt;
      font-family: $font-stack;
   }

   #conditions input[type=number]{
   	width:40px;
   }