article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block; }

#main {
  position: relative;
  width: 300px;
  margin: 0 auto;
  min-height: 300px;
  padding-top: 23pt;
  font-family: Helvetica, sans-serif; }

#conditions input[type=number] {
  width: 40px; }
